GridBackground {
    --line-color: rgba(193, 196, 192, 0.1);
    --thick-line-color: rgba(193, 196, 192, 0.1);
    --spacing: 15;
}
.unity-label {
    width: initial;
    min-width: 50px;
    margin-left: 3px;
    -unity-text-align: middle-left;
}

.toolbar-item {
    background-color: rgba(101, 101, 101, 255);
    width: 300px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -unity-text-align: middle-center;
    height: auto;
}

.window-title {
    background-color: rgb(47, 47, 47);
    transform-origin: left top;
    width: 60px;
    color: rgba(255, 255, 255, 255);
    -unity-text-align: middle-center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
