.unity-label {
    width: 80px;
    min-width: 60px;
    margin-left: 3px;
    -unity-text-align: middle-left;
}

.AltasVisualElement {
    background-color: rgb(67, 67, 67);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.objectField {
    width: 80%;
    min-width: 100px;
    max-width: 300px;
}

.toolbar {
    height: auto;
    background-color: rgb(89, 89, 89);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -unity-slice-left: 0;
    -unity-slice-top: 0;
    -unity-slice-right: 0;
    -unity-slice-bottom: 0;
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 3px;
    border-bottom-width: 3px;
}

.btnClear {
    white-space: nowrap;
    -unity-text-align: middle-center;
    width: auto;
    background-color: rgb(65, 65, 65);
}
